.titletext {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 200px;
}
.nigga {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:90px;
    text-align: center;
    text-decoration-color: blue;
}